{% extends 'layouts/layout.twig' %}

{% block title %}
    Edit Article
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/public/css/new-post-edit-post.css" />
{% endblock %}

{% block content %}
    <div class="col-3 col-s-1"></div>
    <div class="col-6 col-s-10">
        <!-- EDIT POST FORM -->
        <div id="container">
            <h1><i class='far fa-edit'></i> Edit post</h1>

            <p id="val-info"></p>

            <form name="edit-form" action="/edit-post/{{ post.id }}"
                method="post" onsubmit="return validateEditForm()">
                <label for="title"><i class='fas fa-pen'></i> Title</label>
                <input type="text" name="title" value="{{ post.title }}">

                <label for="content">
                    <i class='fas fa-align-justify'></i> Text
                </label>
                <textarea name="content" rows="12">{{ post.content }}</textarea>

                <input type="submit" value="Save">
            </form>
        </div>
    </div>
    <div class="col-3 col-s-1"></div>
{% endblock %}

{% block js %}
    <script src="/src/public/js/new-post-edit-post.js"></script>
{% endblock %}
