{% extends 'layout.twig' %}

{% block title %}
    New Article
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/views/css/new.css" />
{% endblock %}

{% block content %}

    <!-- MAIN DIV ELEMENT -->
    <div id="main" class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <!-- NEW POST FORM -->
            <div id="container">
                <h2>Add new post</h2>

                {% if errorMessage is defined %}
                    <strong>{{ errorMessage }}</strong>
                {% endif %}

                <form name="new-form" method="post" action="/new"
                    onsubmit="return validateForm()">
                    <label for="title"><i class="fa fa-pencil"></i>
                        Title</label>
                    <input type="text" name="title">

                    <label for="content"><i class="fa fa-align-justify"></i>
                        Text</label>
                    <textarea name="content" rows="12"></textarea>

                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <!-- LOAD JS -->
    <script src="/src/views/js/new.js"></script>
{% endblock %}
