{% extends 'layouts/layout.twig' %}

{% block title %}
    My Profile
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/src/public/css/profile.css" />
{% endblock %}

{% block content %}
    <div class="col-4 col-s-3"></div>
    <div class="col-4 col-s-6">
        <!-- PROFILE SECTION -->
        <div id="section">
            <div id="img-cont">
                <img src="../../src/storage/images/avatars/default-img.png"
                    alt="Avatar">
                <div id="overlay">Change your avatar</div>
            </div>
            <p><i class='fas fa-user'></i> Username: {{ user.name }}</p>
            <hr>
            <p><i class='fas fa-envelope'></i> Email: {{ user.email }}</p>
            <hr>
            <p><i class='fas fa-key'></i> Password</p>
            <hr>
            <p><i class='fas fa-lock'></i> Access Level:</p>
            <hr>
            <p><i class='fas fa-calendar-check'></i> Joined:</p>
            <hr>
            <p id="show">Show stats ▾</p>
            <div id="stats">
                <p>• Number of posts: {{ numberOfPosts }}</p>
                <p>• Number of images uploaded: {{ numberOfImages }}</p>
            </div>
        </div>
    </div>
    <div class="col-4 col-s-3"></div>
{% endblock %}

{% block js %}
    <script src="/src/public/js/profile.js"></script>
{% endblock %}
