{% extends 'layout.twig' %}

{% block title %}
    My Profile
{% endblock %}

{% block css %}
{{ parent() }}

    <link rel="stylesheet" href="/src/views/css/profile.css" />
{% endblock %}

{% block content %}

    <div id="sec1">
        <div>
            <p>Name: <b>{{ user.name }}</b></p>
        </div>
            <hr>
        <div>
            <p>Email: <b>{{ user.email }}</b></p>
            <p><a>Change your email adress</a></p>
        </div>
            <hr>
        <div>
            <p>Password</p>
            <p><a>Change your password</a></p>
        </div>
            <hr>
        <div id="show">
            <p>Show stats ▾</p>
        </div>
        <div id="stats">
            <p>• Number of posts: {{ numberOfPosts }}</p>
        </div>
    </div>

    <script src="/src/views/js/profile.js"></script>
{% endblock %}
