#log-reg {
    width: 375px;
	opacity: 0.8;
	color: #f7f7f7;
	background-color: #333;
    padding: 0.5%;
	margin: 7% auto;
    font-family: Rockwell, serif;
	text-align: justify;
	box-shadow: 5px 5px 15px #252e42;
    border-radius: 4px;
}

.component {
    padding: 10px 60px;
    margin: 3% auto;
}

#log-reg strong {
    padding: 10px 70px;
    color: red;
}

#log-reg label {
    display: block;
}

#log-reg input {
    width: 250px;
}

.button {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #8b9dc3;
    color: white;
}
