/* **************************** DIV ELEMENTS **************************** */
/* The ::after selector inserts something after the content of each selected
   element(s).
   Use the content property to specify the content to insert.
   Use the ::before selector to insert something before the content.
   The clear property specifies on which sides of an element floating elements
   are not allowed to float.

   The columns inside a row are all floating to the left, and are therefore
   taken out of the flow of the page, and other elements will be placed as
   if the columns do not exist. To prevent this, we will add a style that
   clears the flow. */
#main.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For all collumns */
#main [class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones */
#main [class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    /* One class for the each of the 12 responsive grid-view columns */
    #main .col-1 {width: 8.33%;}
    #main .col-2 {width: 16.66%;}
    #main .col-3 {width: 25%;}
    #main .col-4 {width: 33.33%;}
    #main .col-5 {width: 41.66%;}
    #main .col-6 {width: 50%;}
    #main .col-7 {width: 58.33%;}
    #main .col-8 {width: 66.66%;}
    #main .col-9 {width: 75%;}
    #main .col-10 {width: 83.33%;}
    #main .col-11 {width: 91.66%;}
    #main .col-12 {width: 100%;}
}

/* ------------- POST CONTENT ----------- */
#post-content {
	background: rgba(54, 69, 79, 0.1);
	margin: 3% auto;
	text-align: justify;
	position: relative;
	z-index: auto;
}

#post-content h2 {
	padding: 5% 5% 0% 5%;
}

#post-content h2:hover {
	text-decoration: underline;
}

#post-content hr {
    border: 1px solid #afafaf;
    margin: 0% 5% 1% 5%;
}

/* --------- POST CONTENT: SEC1 --------- */
#sec1 div {
	display: inline;
    position: absolute;

}

#sec1 div:first-child {
	left: 5%;
}

#sec1 div:first-child p, #show-size {
    font-size: 0.7em;
	font-style: italic;
    display: inline;
	position: relative;
}

#sec1 div:first-child i {
	font-size: 0.7em;
}

#sec1 div:last-child {
	right: 5%;
}

#show-size:hover {
	text-decoration: underline;
	cursor: pointer;
}

#sec1 div:last-child button {
	font-size: 0.7em;
	border: 1px solid #111;
	border-radius: 10px;
	min-width: 1.6em;
	padding: 0px 5px;
	display: none;
	background-color: inherit;
}

#sec1 div:last-child button:hover {
	background-color: #333;
	color: #f7f7f7;
	cursor: pointer;
	transition-duration: 0.4s;
}

/* ---- POST CONTENT: ACTUAL CONTENT ---- */
#pst-cnt {
	padding: 7% 5% 2.5% 5%;
	white-space: pre-line; /* show line breaks in browser */
}

/* --------- POST CONTENT: SEC2 --------- */
#sec2 {
    margin: 0% 0% 1% 0%;
	padding: 1% 4.9% 2.7% 4.9%;
}

#sec2 p {
	display: inline;
    font-size: 0.7em;
	font-style: italic;
}

#sec2 p:hover {
	text-decoration: underline;
	cursor: pointer;
}

#sec2 a {
    display: inline;
    text-decoration: none;
    float: right;
    padding-left: 0.7%;
}

#sec2 a i {
    color: #111;
	transition-duration: 0s;
	font-size: 1.3em;
	cursor: pointer;
	transition-duration: 0.4s;
}

#sec2 a i:hover {
    font-weight: bold;
}

/* ---------- COMMENT SECTION ----------- */
#comment-section {
	background: rgba(54, 69, 79, 0.1);
	display: none;
	z-index: auto;
	margin: -1.7% auto 2% auto;
}

#comment-section form input {
	margin: 2% 3%;
}

#comment-section form textarea {
	width: 94%;
	margin: 0% 3%;
	position: relative;
	resize: vertical;
}
