#sec1 {
	width: 20%;
    opacity: 0.8;
	color: #f7f7f7;
    background-color: #333;
    padding: 5px;
    border-left: 8px solid #d9534f;
	margin: 10% auto;
    font-family: Rockwell, serif;
	text-align: justify;
	box-shadow: 5px 5px 15px #252e42;
	position: relative;
}

#sec1 div {
	margin: 4%;
}

#sec1 p {
	margin: 0%;
}

#sec1 b {
	color: #d64d4d;
	transition-duration: 0.4s;
}

#sec1 b:hover {
    color: #f7f7f7;
}

#sec1 div a {
	background-color: #3b5998;
    border: none;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;
}

#sec1 div a:hover {
	background-color: #8b9dc3;
    color: white;
}

#show:hover {
	text-decoration: underline;
	cursor: pointer;
}

#stats {
	font-size: 0.7em;
	display: none;
	padding-left: 10%;
}
