/* The ::after selector inserts something after the content of each selected
   element(s).
   Use the content property to specify the content to insert.
   Use the ::before selector to insert something before the content.
   The clear property specifies on which sides of an element floating elements
   are not allowed to float.

   The columns inside a row are all floating to the left, and are therefore
   taken out of the flow of the page, and other elements will be placed as
   if the columns do not exist. To prevent this, we will add a style that
   clears the flow. */
#main.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For all collumns */
#main [class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones */
#main [class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #main div:first-child {
        display: none;
    }
    #main div:nth-child(3) {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    /* One class for the each of the 12 responsive grid-view columns */
    #main .col-1 {width: 8.33%;}
    #main .col-2 {width: 16.66%;}
    #main .col-3 {width: 25%;}
    #main .col-4 {width: 33.33%;}
    #main .col-5 {width: 41.66%;}
    #main .col-6 {width: 50%;}
    #main .col-7 {width: 58.33%;}
    #main .col-8 {width: 66.66%;}
    #main .col-9 {width: 75%;}
    #main .col-10 {width: 83.33%;}
    #main .col-11 {width: 91.66%;}
    #main .col-12 {width: 100%;}
}

/* **************************** DIV ELEMENTS **************************** */
#main {
    margin: 2.5em 2em;
}

#main div:first-child {
    background: rgba(51, 51, 51, 0.1);
}

#main div:first-child p {
    margin: 2em 1em;
    padding: 1em;
}

#main div:first-child ul li {
    list-style-type: none;
    background-color: #398564;
    color: #ffffff;
    padding: 0.5em 0em;
    margin: 0.5em;
    width: 7em;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 3px 2px 7px #252e42;
}

#main div:nth-child(2) {
    padding: 3em 5em;
}

#main div:nth-child(3) img {
    max-width: 120px;
    padding: 3%;
    margin: 0% auto 0% auto;
    transition: 0.5s;
}

#main div:nth-child(3) img:hover {
    opacity: 0.7;
}
